<h1>Login</h1>

<% flash.each do |key, value| %>
	<div class="alert alert-<%= key %>" role="alert">
   	   <%= value %><br>
	</div>
<% end %>

<div class="form-inline">

	<%= form_for :user, url: '/login' do |f| %> 

		<%= f.text_field :email, placeholder: 'Enter your email', class: "form-control" %>
		<%= f.password_field :password, placeholder: 'Enter your password', class: "form-control" %>
		<%= f.submit "Login", class: "btn btn-default" %>
	<% end %>

</div>