

<div class="jumbotron">
	<h1><%= @school.name %></h1>
	<p><%= @school.city %>, <%= @school.state %>  &nbsp; | &nbsp; <%= @school.website %></p>
</div>

<div class="center-buttons">
	<div class="btn-group" role="group">
	 	<%= link_to "Safety School", add_school_path(id: @school.id, list: "safety"), title: "Add to my safety schools",  class: "btn btn-default" %>
		<%= link_to "Target School", add_school_path(id: @school.id, list: "target"), title: "Add to my target schools", class: "btn btn-default" %>
		<%= link_to "Reach School", add_school_path(id: @school.id, list: "reach"), title: "Add to my reach schools", class: "btn btn-default" %>
	</div>
</div>



<br>

<div class="container-fluid">
	<div class="col-md-6">
	<table class="table table-striped">
		<thead>
			<tr>
				<th></th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Total Applicants</td>
				<td><%= @school.total_applicants %></td>
			</tr>
				<td>Percent Admitted</td>
				<td><%= @school.percent_admitted %></td>
			<tr>
				<td>Percent Attending</td>
				<td><%= @school.percent_attending %></td>
			</tr>
			<tr>	
				<td>SAT Critical Reading</td>
				<td><%= @school.range_sat_cr %></td>
			</tr>
			<tr>
				<td>SAT Math</td>
				<td><%= @school.range_sat_math %></td>
			</tr>	
			<tr>
				<td>SAT Writing</td>
				<td><%= @school.range_sat_writing %></td>
			</tr>		
			<tr>
				<td>ACT Composite</td>
				<td><%= @school.range_act_comp %></td>
			</tr>		
			<tr>
				<td>Average High School GPA</td>
				<td><%= @school.average_hs_gpa %></td>
			</tr>
			<tr>
				<td>Superscore SAT</td>
				<td><%= @school.superscore_sat %></td>
			</tr>
			<tr>
				<td>Superscore ACT</td>
				<td><%= @school.superscore_act %></td>
			</tr>
		</tbody>
	</table>
	</div>
	
	<div class="col-md-6">
		<br>
		<img class="school_show_image" src="<%= @school.image_url %>"/>
	</div>

</div>



