<h1><%= @school.name %></h1>

<div>
 <p><%= @school.city %></p>


 	<%= button_to "Safety School", add_school_path(id: @school.id, list: "safety") %>
	<%= button_to "Target School", add_school_path(id: @school.id, list: "target") %>
	<%= button_to "Reach School", add_school_path(id: @school.id, list: "reach") %>



</div>
<%#= form_for(current_user) do |f| %>

	<!-- <div class="field"> -->
		<%#= f.label "Add to My Lists" %><!-- <br> -->
		<%#= f.collection_check_boxes(:list_ids, List.order("name ASC"), :id, :name) do |b| %>

			<%#= b.label { b.check_box } %>
			<%#= b.label { b.text } %>
		<!-- 	<br> -->
			<%# end %>
<!-- 
	</div>

	<div class="field"> -->
		<%#= f.hidden_field :user_id, value: current_user.id %>
<!-- 	</div> -->

<!-- 	<div class="actions"> -->
		<%#= f.submit @button_face, :class => "btn btn-primary" %>
<!-- 	</div> -->