<!DOCTYPE html>
<html>
<head>
  <title>CollegeOrganizer</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= favicon_link_tag 'favicon.ico' %>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Anton' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
</head>
<body>

<!-- NAVIGATION BAR BEGINS HERE-->

	<nav class="navbar navbar-inverse navbar-fixed-top">
	  <div class="container-fluid">
	    <!-- Brand and toggle get grouped for better mobile display -->
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <a class="navbar-brand" href="/"><span class="glyphicon glyphicon-book"></span></a>
	    </div>

	    <!-- Collect the nav links, forms, and other content for toggling -->
    	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		    <div class="topnav">
		      <ul class="nav navbar-nav">
		        <li class="active"><a href="/profile">My College List<span class="sr-only">(current)</span></a></li>
		        <%if current_user %>
		        <li><a href="/schools">View All Schools</a></li>
		        <% end %>
		        <li><a href="#myModal2" data-toggle="modal" data-target="#myModal2">About the App</a></li>
		        <li><a href="#myModal3" data-toggle="modal" data-target="#myModal3">List Definitions</a></li>
		      </ul>
    
	   	<!--  Logout/login and signup options -->
		      <ul class="nav navbar-nav navbar-right">
		        <% if current_user %>
							<li><a><%= current_user.first_name + ' ' + current_user.last_name %> </a></li>
							<li><a href="/logout">Logout</a></li>
							<% else %>
							<li><a href="#myModal" data-toggle="modal" data-target="#myModal">Login</a></li>
							<li><a href="/signup">Signup</a></li>
						<% end %>
			 		</ul>
	      </div>
	    </div><!-- /.navbar-collapse -->
	  </div><!-- /.container-fluid -->
	</nav>

<!-- NAVIGATION BAR ENDS HERE -->

<!-- myModal (login form) BEGINS HERE (part of navbar) -->

	<div class="modal fade" id="myModal">
		<div class="modal-dialog">
	     <div class="modal-content">
	       <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h4 class="modal-title">Login</h4>
        </div>
        <div class="modal-body">
				<%= form_for :user, url: '/login' do |f| %> 
	        <div class="form-group">
	    			<label for="exampleInputEmail1">Email address</label>
						<%= f.email_field :email, placeholder: 'Enter your email', class: "form-control", id: "exampleInputEmail1" %>
	  		  </div>
			 		<div class="form-group">
			  		<label for="exampleInputPassword1">Password</label>
						<%= f.password_field :password, placeholder: 'Enter your password', class: "form-control", id: "exampleInputPassword1" %>
			  	</div>
        </div>
        <div class="modal-footer">
          <a href="#" data-dismiss="modal" class="btn">Close</a>
          <%= f.submit "Login", class: "btn btn-primary" %>
        </div>
        <% end %>
	     </div>
	   </div>
	</div>

<!-- myModal ENDS HERE (part of navbar) -->

<!-- myModal2 (About the App Info) BEGINS HERE (part of navbar) -->

	<div class="modal fade" id="myModal2">
		<div class="modal-dialog">
	      <div class="modal-content">
	        <div class="modal-header">
	          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
	          <h4 class="modal-title">About the App</h4>
	        </div>
	        <div class="modal-body">

						<p>Applying to college can be overwhelming. This app hopes to make the whole process a little easier by tracking the colleges that you feel confident about and those that you don't. </p>

						<p>Search through the top 350+ colleges and universities in the country and view the number of applications they receive, the percentage of students the schools admit, and the percentage of students who actually choose to attend after they have been admitted.</p>

						<p>You can also see how you stack up by viewing the average high school GPA, the typical SAT scores, and the typical ACT scores of the school's current freshman class. Be sure to also note whether the school superscores the SAT and/or ACT. (This might boost your chance of acceptance.)</p>

						<p><strong>Signup or login to start adding schools to your <span class="safety-text">Safety</span>, <span class="target-text">Target</span>, and <span class="reach-text">Reach</span> lists!</strong></p>
						
	        </div>
	        <div class="modal-footer">
	          <a href="#" data-dismiss="modal" class="btn">Close</a>
	        </div>
	      </div>
	    </div>
	</div>

<!-- myModal2 ENDS HERE (part of navbar) -->

<!-- myModal3 (List Definitions) BEGINS HERE (part of navbar) -->

	<div class="modal fade" id="myModal3">
		<div class="modal-dialog">
	      <div class="modal-content">
	        <div class="modal-header">
	          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
	          <h4 class="modal-title">List Defintions</h4>
	        </div>
	        <div class="modal-body">
		
						<p><span class="safety-text">Safety:</span>
						This is a school about which you are very confident. Your scores exceed all the requirements, and the subjective parts (essay, letters of rec, extracurriculars, etc.) of your application will blow them away. (This isn't a throw-away school, though. Make sure it's one you would actually want to attend.)</p>

						<p><span class="target-text">Target:</span>
						This is a school that you really, really want to attend. You’ve been wearing the school sweatshirt since you were four, you already know where you are going to live freshman year, and your stats meet or exceed the requirements.</p>

						<p><span class="reach-text">Reach:</span>
						A reach school is your dream school. You scores might not meet the requirements in an area or two, but you have other great things going for you and this is THE school, so you're going to apply just in case. After all, you don't want to spend your whole life wondering what could have been--and you've got other great Target and Reach schools that you'd be totally happy attending.</p>

			    </div>
	        <div class="modal-footer">
	          <a href="#" data-dismiss="modal" class="btn">Close</a>
	        </div>
	      </div>
	    </div>
	</div>

<!-- myModal3 ENDS HERE (part of navbar) -->

	<div class="container">
		<%= yield %>
	</div>

</body>

<!-- FOOTER BEGINS HERE  -->

<footer class="footer">
	<div class="container">
		<p class="small-text">App designed and developed in 2015 by Kelsey Jacobsen. Email her with any questions. <a href="mailto:kelseyljacobsen@gmail.com"><span class='glyphicon glyphicon-envelope')> </span></a></p>
	</div>
</footer>

<!-- FOOTER ENDS HERE -->

</html>

